<script>
  function openNav(){
      document.getElementById("mySidenav").style.width = "250px";
  }
  function closeNav(){
      document.getElementById("mySidenav").style.width= "0";
  }
</script>

<body>
  <div id="mySidenav" class="sidenav">
    <h4>content</h4>
  </div>
</body>